@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

#letter {
  display: none;
  box-shadow: 10px 10px 5px #950F3A;
  background-color: white;
  padding: 30px;
}

.form-control {
  background-color: #F097B3;
  color: black;
}

body {
  background-color: #E56A91;
}

.paragraph {
  text-indent: 50px;
}

p {
  font-family: 'Dancing Script', cursive;
  font-size: 18px;
}
